body{
	font-family: "tahoma",cursive;
    direction: rtl;
}

.quiz-app{
	margin-top: 40px;
    background-color: #eee;
    border: 2px solid #222;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    align-items: center;
    position: relative;
    font-family:  "kufam",cursive;
}

header h2{
    color: #3d84b8;
    font-size: 50px;
}


header p{
	color: #f55c47;
    padding-top: 10px;
    font-size: 20px;
}

 header hr{
	color:#000;
    height: 3px;
}

section form{
	color: #564a4a;
    padding-top: 10px;
}

section form h3{
	padding-bottom: 10px;
    padding-top: 15px;
}

section form input[type = "radio"]{
	margin-bottom: 10px;
	margin-left: 10px;
}

section form input.btn{
	margin-top: 20px;
	padding: 10px 20px;
    outline: none;
}


/* start footer */
 .footer {
    color: #fff;
    padding: 10px 0;
    background-color: #000;
}

.footer .copyright {
    font-size: 16px;
    cursor: pointer;
    transition: 0.8s;
    font-weight: 400;
    font-size: 17px;
}

.footer .copyright:hover {
    color: #0d6efd;
} 

/* end footer */

