<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesomel.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="icon" href="/favicon/favicon.ico">

</head>
<body>
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="  navbar-brand" href="http://localhost:4000/admin">PSYCHOLOGY SMART ADMIN PAGE 

            <i class="fa fa-home"></i>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class=" collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav nav-pills ">
              <li class="nav-item  ">
                <a class="nav-link active"  href="http://localhost:4000/admin">admin Home</a>
              </li>
        
      </nav>
      <div style="padding-top: 100px;">
      <form action="/admin/adddoctor" method="POST">
        <div class="form-group">
          <label for="exampleInput">Name of doctor</label>
          <input type="text" name="nameofdoctor" class="form-control" id="name"  placeholder="Enter doctor name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">His role</label>
          <input type="text" name="roleofdoctor" class="form-control" id="role" placeholder="Enter doctor role">
        </div>
        <!-- <label class="form-label" for="customFile" style="margin-left: 20px; margin-bottom: 0px; padding-bottom: 0px;">add doctor image</label> -->
        <!-- <input name="picture" type="file" class="form-control" id="customFile" style="margin: 20px; margin-top: 0px;" /> -->
       
        <button type="submit" class="btn btn-primary" style="margin: 20px;">Submit</button>
        
      </form>
      </div>

    
</body>
</html>